/* FONTS */

@font-face {
	font-family: SofiaCoppola;
	src: url(KUNSTLER.TTF);
}

@font-face {
	font-family: GirlCulture;
	src: url(AcciaSans-ExtraBoldItalic.ttf)
}

/* START OF HOME PAGE */

/* HEADER */

#header {
	position: relative;
	display: inline-block;
}

#headerImage {
	display: block;
	width: 50%;
	height: auto;
}

#headerTitle {
	font-family: SofiaCoppola;
	font-size: 125px;
	color: rgba(248,167,174,255);
	text-align: center;
	position: absolute;
	top: -30%;
	left: 100%; 
	
}

/* https://www.w3schools.com/howto/howto_js_topnav.asp */

#navBar {
  font-family: GirlCulture;
  background-color: rgba(248,167,174,255); /* Background color of navigation bar */
  overflow: hidden;
  margin: 20px;
}

#navBar a {
  float: left;
  color: deeppink; /* color of text when not active or hover */
  text-align: center;
  padding: 20px 210px;
  text-decoration: none;
  font-size: 20px;
}

/* change the color of links on hover */
#navBar a:hover {
  background-color: deeppink; /* when hoover, background turns deep pink and text turns white */
  color: white;
}

/* add a color to the active link */
#navBar a.active {
  color: white;
}

#collageSlideshow {
	overflow: hidden;
	display: flex;
	justify-content: center;
	height: 510px;
	width: 728px;
	margin: 0px auto;
	padding: 0px;
}

.slide {
	float: left;
	height: 510px;
	width: 728px;

}

.slideshowWrapper {
	width: calc(250px * 4);
	animation: slide 10s ease infinite;
}

.slide:nth-child(1) {
	width: 50%;
	background: white;
}

.slide:nth-child(2) {
	width: 50%;
	background-color: white;
}

.slide:nth-child(3) {
	width: 50%;
	background-color: white;
}

.slide:nth-child(4){
	width: 50%;
	background: yellow;
}

@keyframes slide {

	20% {
		margin-left: 0px;
	}

	40% {
		margin-left: calc(-728px * 1);
	}

	60% {
		margin-left: calc(-728px * 2);
	}

	80% {
		margin-left: calc(-728px * 3);
	}
}

/* DESCRIPTION */

#descriptionTitle {
	font-family: SofiaCoppola;
	font-size: 100px;
	color: rgba(248,167,174,255);
	text-align: center;
	margin: 0px;
	padding: 0px;
}

#descriptionBackground {
	font-family: GirlCulture;
	font-size: 40px;
	text-align: center;
	color: black;
}

/* ICONS */

#icons {
	display: flex;
}

.column1 {
	flex: 33.33%;
	padding: 5px;
}

.column2 {
	flex: 33.33%;
	padding: 5px;
}

#diary {
	width: 75%;
	height: 75%;
}

#camera {
	width: 75%;
	height: 75%;
}

/* END OF HOME PAGE */
