/* FONTS */

@font-face {
	font-family: SofiaCoppola;
	src: url(KUNSTLER.TTF);
}

@font-face {
	font-family: GirlCulture;
	src: url(AcciaSans-ExtraBoldItalic.ttf)
}

/* START OF HOME PAGE */

/* HEADER */

#header {
	position: relative;
	display: inline-block;
}

#headerImage {
	display: block;
	width: 50%;
	height: auto;
}

#headerTitle {
	font-family: SofiaCoppola;
	font-size: 125px;
	color: rgba(248,167,174,255);
	text-align: center;
	position: absolute;
	top: -30%;
	left: 100%; 
	
}

/* https://www.w3schools.com/howto/howto_js_topnav.asp */

#navBar {
  font-family: GirlCulture;
  background-color: rgba(248,167,174,255); /* Background color of navigation bar */
  overflow: hidden;
  margin: 20px;
}

#navBar a {
  float: left;
  color: deeppink; /* color of text when not active or hover */
  text-align: center;
  padding: 20px 210px;
  text-decoration: none;
  font-size: 20px;
}

/* change the color of links on hover */
#navBar a:hover {
  background-color: deeppink; /* when hoover, background turns deep pink and text turns white */
  color: white;
}

/* add a color to the active link */
#navBar a.active {
  color: white;
}

#collageSlideshow {
	overflow: hidden;
	display: flex;
	justify-content: center;
	height: 510px;
	width: 728px;
	margin: 0px auto;
	padding: 0px;
}

.slide {
	float: left;
	height: 510px;
	width: 728px;

}

.slideshowWrapper {
	width: calc(250px * 4);
	animation: slide 10s ease infinite;
}

.slide:nth-child(1) {
	width: 50%;
	background: white;
}

.slide:nth-child(2) {
	width: 50%;
	background-color: white;
}

.slide:nth-child(3) {
	width: 50%;
	background-color: white;
}

.slide:nth-child(4){
	width: 50%;
	background: yellow;
}

@keyframes slide {

	20% {
		margin-left: 0px;
	}

	40% {
		margin-left: calc(-728px * 1);
	}

	60% {
		margin-left: calc(-728px * 2);
	}

	80% {
		margin-left: calc(-728px * 3);
	}
}

/* DESCRIPTION */

#descriptionTitle {
	font-family: SofiaCoppola;
	font-size: 100px;
	color: rgba(248,167,174,255);
	text-align: center;
	margin: 0px;
	padding: 0px;
}

#descriptionBackground {
	font-family: GirlCulture;
	font-size: 40px;
	text-align: center;
	color: black;
}

/* END OF HOME PAGE */

/* START OF FILMS PAGE */

/* https://stackoverflow.com/questions/51263115/split-screen-containers-with-scrolling */

.wrap {
	display: flex;
	top: 300px;
}

.split {
	height: 100vh;
	width: 50vw;
	overflow: scroll;
}

.centered {
	text-align: center;
}



.centered img {
  width: 800px;

}

#titleFilm {
	font-family: SofiaCoppola;
	font-size: 80px;
	color: deeppink;
	text-align: center;
}

#filmDescription {
	font-family: GirlCulture;
	font-size: 30px;
}

#recommendations {
	font-family: GirlCulture;
	font-size: 25px;
	color: deeppink;
	text-align: center;
}

#recommendationsPics {
	width: 200px;
}

/* END OF FILM PAGE */

/* START OF ESSAYS PAGE */

#imageBox {
	display: flex;
	justify-content: center;
	position: relative;
	text-align: center;
}

/* https://www.w3schools.com/howto/howto_css_image_text.asp 

.essay1 {
	position: absolute;
	top: 50%;
	left: 0%;
	font-size: 40px;
	text-wrap: wrap;
}

.essay2 {
	position: absolute;
	top: 50%;
	left: 60%;
	font-size: 40px;
}

.essay3 {
	position: absolute;
	top: 50%;
	left: 80%;
	font-size: 40px;
}

*/ 

#headerEssays {
	text-align: center;
	font-family: SofiaCoppola;
	font-size: 80px;
	color: white;
}

#essaysTOC {
	text-align: center;
	font-family: SofiaCoppola;
	font-size: 80px;
	color: black;
}

/* https://blog.hubspot.com/website/horizontal-scrolling - https://www.w3schools.com/howto/howto_css_image_gallery_scroll.asp */

div.scroll-container {
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}

/* https://www.w3schools.com/cssref/sel_hover.php */

a:hover {
	color: white;
}